@font-face {
    font-family: 'CatPaw';
    src: url('fonts/Meows-VGWjy.ttf') format('truetype');
}

@font-face {
    font-family: 'Kiddosy';
    src: url('fonts/Kiddosy.otf') format('truetype');
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #ffecd2, #ffcad4);
    padding: 3vh 4.3vh;
    color: #4a4a4a;
    overflow: clip;
    display: flex;
    gap: 2vh;
}

.container {
    width: 36vw;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2vh;
    padding: 2vh;
    box-shadow: 0 0.4vh 1.5vh rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
    backdrop-filter: blur(1vh);
    border: 0.2vh solid #ffcad4;
    position: relative;
    width: 100%;
    height: 55vh;
}

h2 {
    font-size: clamp(0.5vw, 8.5vw, 3.5vw);
    overflow: hidden;
    margin-bottom: 2vh;
    margin-top: 1.2vh;
    font-weight: 400;
    font-family: 'CatPaw', monospace;
    white-space: nowrap;
}

.timer {
    text-align: center;
}

.timer-display {
    font-size: clamp(0.5vw, 8.5vw, 3.5vw);
    font-weight: 300;
    color: #4a4a4a;
    margin: 2vh 0;
    font-family: 'CatPaw', monospace;
}

.timer-label {
    font-size: 3vh;
    color: #ff9eb5;
    margin-bottom: 1vh;
    margin-top: 2vh;
    font-family: 'Kiddosy', monospace;
}

.timer-controls {
    display: flex;
    gap: 2vh;
    justify-content: center;
    margin: 1vh 3vh;
    font-size: 4vh;
    padding-top: 2vh;
}

.settings {
    display: flex;
    gap: 2vh;
    justify-content: center;
    margin: 2vh 0vh;
}

.setting-label {
    display: block;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
    color: #494444;
    font-size: 3vh;
    font-family: 'Kiddosy', monospace;
    padding: 1vh;
}

.time-input {
    width: 3vw;
    padding: 0.5vh;
    border: 0.2vh solid #ffcad4;
    border-radius: 1vh;
    text-align: center;
    font-size: 3vh;
    font-family: 'CatPaw', monospace;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

.time-input:focus{
    outline: 0.2vh solid #cc9aa3;
}

.btn {
    padding: 1vh 2.2vh;
    border: none;
    border-radius: 2.5vh;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #fff;
    color: #4a4a4a;
    border: 0.2vh solid #ffcad4;
    font-size: 2.3vh;
    font-family: 'CatPaw', monospace;
}

.btn:hover {
    background: #ffcad4;
    transform: translateY(-0.2vh);
}

.btn.primary {
    background: #ffcad4;
    color: #4a4a4a;
    border: none;
}

.btn.primary:hover {
    background: #ffb5c0;
}

.progress-bar {
    width: 100%;
    height: 1vh;
    background: #f0f0f0;
    border-radius: 0.5vh;
    margin: 1vh 0;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #ffcad4;
    transition: width 1s linear;
}

.session-count {
    position: absolute;
    top: 1vh;
    right: 1.5vh;
    background: #ffcad4;
    padding: 0.5vh 1vh;
    border-radius: 1.5vh;
    font-size: 1vh;
    font-family: 'CatPaw', monospace;
    font-size: clamp(1vh, 3vw, 2vh);
}

.reset-card {
    background: rgba(255, 245, 245, 0.9);
    margin-top: 3vh;
    height: 21.5vh;
}

.reset-card h3 {
    font-size: clamp(1vw, 8.5vw, 2.5vw);
    color: #4a4a4a;
    margin-bottom: 1.5vh;
    font-weight: 550;
    font-family: 'CatPaw', monospace;
}

.reset-controls {
    font-size: clamp(0vw, 2vw, 1vw);
    display: flex;
    gap: 2vh;
    justify-content: center;
    padding: 2vh 1vh;
    border: none;
    border-radius: 2.5vh;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #4a4a4a;
    border: 0.2vh solid #ffcad4;
}

.btn.warning {
    background: #ffd4d4;
    border: 0.2vh solid #ffb5b5;
    font-size: 2.3vh;
    font-family: 'Kiddosy', monospace;
}

.btn.warning:hover {
    background: #ffb5b5;
}

.img1 {
    width: 15.6vh;
    height: 15.6vh;
}

.todo-container {
    position: absolute;
    left: calc(36vw + 4vw);
}
.todo-card {
    height: 100%;
    overflow-y: auto;
    width: 26vw;
    height: calc(100vh - 8vh);
}

.todo-card h3 {
    font-size: clamp(1vh, 5.5vw, 4.5vh);
    color: #4a4a4a;
    margin-bottom: 1.5vh;
    font-family: 'Kiddosy', monospace;
}

.todo-input {
    display: flex;
    gap: 1vh;
    margin-bottom: 1.5vh;
    margin-top: 2vh;
}

.todo-input input {
    flex: 1;
    padding: 0.8vh;
    border: 0.2vh solid #ffcad4;
    border-radius: 1vh;
    font-size: 1.3vh;
    font-family: 'CatPaw', monospace;
    font-size: 2.7vh;
    width: 100%
}

.todo-list {
    list-style: none;
    font-family: 'Kiddosy', monospace;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 1vh;
    padding: 1vh;
    border-bottom: 0.1vh solid #ffcad4;
    font-size: 2.2vh;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-item.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.delete-todo {
    margin-left: auto;
    background: none;
    border: none;
    color: #ff9eb5;
    cursor: pointer;
    font-size: 2.3vh;
}

.todo-card h5 {
    font-family: 'CatPaw', monospace;
    font-size: 1.5vh;
}

.wrapper {
    margin-right: 0vh;
    margin-left: auto;
    width: 30vw;
    height: 30vw;
    background-color: #ffffff;
    position: flex;
    padding: 1vh;
    border-radius: 1vh;
}

.container1 {
    position: relative;
    width: 100%;
    height: 100%;
}

#wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#spin-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
    color: #c66e16;
    text-transform: uppercase;
    font-size: 1.8vh;
    letter-spacing: 0.1vh;
    font-weight: 600;
}

.img2 {
    position: absolute;
    width: 4vh;
    top: calc(50% - 4vh);
    right: -8%;
}

#final-value {
    font-size: 6vh;
    text-align: center;
    margin-top: 5vh;
    color: #202020;
    font-weight: 500;
    font-family: 'CatPaw', monospace;
}

@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 1.2vh;
    }

}
.img2 {
    right: -8%;
    width: 8vh;
    height: 8vh;
}

.sound{
    position: absolute;
    top: 85vh;
    right: 2vw;
    display: flex;
}

.music-control{
    padding: 4vh; /* Add some padding */
    border-radius: 10px;
    border-color: #ff9eb5;
}
.alarming{
    padding: 4vh; /* Add some padding */
    border-radius: 10px;
    border-color: #ff9eb5;
}
.no-more{
    padding: 4vh; /* Add some padding */
    border-radius: 10px;
    border-color: #ff9eb5;
}

.no {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows clicking through to the button */
    font-family: "Kiddosy", monospace;
    opacity: 0.7;
    font-size: 18vh;
    color: #ff9eb5;
    font-weight: bold;
    transform: translate(calc(50% - 1.7vw), calc(-50% - 0.5vh));
}

#message {
    position: absolute;
    bottom: -50px;
    padding: 10px 20px;
    background-color: #dfbbc3;
    color: white;
    border-radius: 20px;
    transition: transform 0.5s ease-out;
    z-index: 1000;
    opacity: 0.9;
}